In [1]:
#import urllib.request

#url = "https://data.binance.vision/data/spot/monthly/klines/ADABKRW/1h/ADABKRW-1h-2020-08.zip"
#filename = "ADABKRW-1h-2020-08.zip"

#urllib.request.urlretrieve(url, filename)

In [2]:
#import urllib.request

#for year in range(2012, 2019):
    #for month in range(1, 13):
        #url = f"https://data.binance.vision/data/spot/monthly/klines/BTCUSDT/1m/BTCUSDT-1m-{year}-{month:02d}.zip"
        #filename = f"BTCUSDT-1m-{year}-{month:02d}.zip"
        #urllib.request.urlretrieve(url, filename)

In [3]:
import os

print(os.listdir())

['#1.docx', '#2.docx', '#3.docx', '.ipynb_checkpoints', '0020230515938 (1).pdf', '0020230515938 (2).pdf', '0020230515938 (3).pdf', '0020230515938 (4).pdf', '0020230515938.pdf', '1 Sets.pdf', '1-DBMS-1.pptx', '1.xlsx', '107-2016-02-17-Fallacious Arguments (1).pdf', '107-2016-02-17-Fallacious Arguments.pdf', '1096-Article Text-4657-1-10-20200205 (1).pdf', '1096-Article Text-4657-1-10-20200205.pdf', '1p6 - PART 2.png', '1p6.png', '2 Propositions and Logical Operations.pdf', '2-Database-Design-1.pptx', '2.docx', '242858273_426928068765075_4423443953244584628_n.jpg', '274653520_1003490787185181_2746793920273026470_n.jpg', '284107529_1106419033248498_8852880525689490709_n.jpg', '290912232_1057275718546759_8293697584121662137_n.jpg', '292054184_575616214122799_8732432217964851849_n.jpg', '2p6.png', '309274018_659942785358912_3536476548076476648_n.jpg', '309295343_2166407470195557_7768836757337634501_n.jpg', '310533892_406602164996810_5137328621868566067_n.jpg', '310591536_1026971558092628_6055466999624697270_n.jpg', '310987543_441587911397814_3495744323650625949_n.jpg', '313550959_2355755857908001_1416755088656417836_n.jpg', '314023537_4402441653213707_918900460824926886_n.jpg', '314395508_835924687533037_3209159349198611068_n.jpg', '314590073_797376281375206_4579924758787182308_n.jpg', '315529226_1142208990019755_3821232256647039823_n.jpg', '315943154_1134208434132770_1605055079406559380_n.png', '324980936_1194169754538219_9188675248940476647_n.png', '326778522_1410979909439902_1204672348291913008_n.jpg', '336142934_133066219525467_7616704203233520404_n.png', '336158634_931933048231955_2584907597860829869_n.png', '336310641_542214798046747_4908533987826407997_n.png', '341000489_1411866892904198_4520446865040496342_n.jpg', '343917707_222263877087602_4265808293021390834_n (1).png', '343917707_222263877087602_4265808293021390834_n.png', '3p6.png', '4 PMI.pdf', '49acbb9aad7c839010ebed1e211cf892-2021-PMR-for-2nd-Semester (1).pdf', '49acbb9aad7c839010ebed1e211cf892-2021-PMR-for-2nd-Semester.pdf', '4p6.png', '5.docx', '54c3ce0e-3642-4ee7-aedf-d52fb29b3b86.pdf', '5eB5YE1QSPSgeWBNUKj0MQ_64cb4212fa57404a9a1d0274cc8ae8ba_IIB-LICENSED_Sea-Levels.pdf', '5p6 hitting the target.png', '6.docx', '7.docx', '9d7bfac1-2ad9-43e7-b594-01923beab2c0.pdf', 'abad#1.docx', 'abad#5.docx', 'ABAD_DUCAY.docx', 'AbuDhabiNationalOilCompanyForDistributionPjsc_2021.pdf', 'AccLtd_2021.pdf', 'ACEnergyCorp_2021.pdf', 'Activity_Programming_Techniques.docx', 'Additional-Load-Form-Justin-Lorence-Lagmay.docx', 'Airplane_Crashes_and_Fatalities_Since_1908.csv.zip', 'ALEJO, MARY_ADDITIONAL POINTS.pdf', 'ALEJO, MARY_ESSAY.docx', "Allen B. Downey - Think Python, 2nd Edition_ How to Think Like a Computer Scientist (2015, O'Reilly Media) (1).pdf", "Allen B. Downey - Think Python, 2nd Edition_ How to Think Like a Computer Scientist (2015, O'Reilly Media).pdf", 'amazon.csv', 'Anaconda3-2022.10-Windows-x86_64.exe', 'APM1103-Project-Evaluation-Form.docx', 'APM1103-Project-Requirements-Updated.docx', 'APM1105_DUCAY_FA6.ipynb', 'APM1110. Week 2-3_Introduction to Probability.pdf', 'APM1121-FA8.pdf', 'APM1122 Course Information Booklet.pdf', 'Application fee FEU.jpg', 'archive (1).zip', 'archive (2).zip', 'archive (3).zip', 'archive.zip', 'Arctic-Monkeys-Logo.png', 'arctic_monkeys.jfif', 'Arithmetic Operators.doc', 'Arrays (1).doc', 'Arrays.doc', 'assets_HOA-master.zip', 'Assignment-Creating-a-Tripwire-Script-1.pdf', 'audacity-win-3.1.3-64bit (1).exe', 'automobile_data.csv', 'AXIE COMBOS.pdf', 'BAS_WhitePaper.pdf', 'bbb.c', 'Binance BTC Data.ipynb', 'bitstampUSD_1-min_data_2012-01-01_to_2021-03-31.csv', 'book of proof.pdf', 'boxplot_4.10#5_Ducay_Lagua', 'BSAM-Data-Science-2021-Curriculum.pdf', 'BSAM-Information-Technology-2021-Curriculum.pdf', 'bst.pptx', 'BTCTUSD-1m-2023-05-02.zip', 'BTCUSDT-1m-2019-01.zip', 'BTCUSDT-1m-2019-02.zip', 'BTCUSDT-1m-2019-03.zip', 'BTCUSDT-1m-2019-04.zip', 'BTCUSDT-1m-2019-05.zip', 'BTCUSDT-1m-2019-06.zip', 'BTCUSDT-1m-2019-07.zip', 'BTCUSDT-1m-2019-08.zip', 'BTCUSDT-1m-2019-09.zip', 'BTCUSDT-1m-2019-10.zip', 'BTCUSDT-1m-2019-11.zip', 'BTCUSDT-1m-2019-12.zip', 'BTCUSDT-1m-2020-01.zip', 'BTCUSDT-1m-2020-02.zip', 'BTCUSDT-1m-2020-03.zip', 'BTCUSDT-1m-2020-04.zip', 'BTCUSDT-1m-2020-05.zip', 'BTCUSDT-1m-2020-06.zip', 'BTCUSDT-1m-2020-07.zip', 'BTCUSDT-1m-2020-08.zip', 'BTCUSDT-1m-2020-09.zip', 'BTCUSDT-1m-2020-10.zip', 'BTCUSDT-1m-2020-11.zip', 'BTCUSDT-1m-2020-12.zip', 'BTCUSDT-1m-2021-01.zip', 'BTCUSDT-1m-2021-02.zip', 'BTCUSDT-1m-2021-03.zip', 'BTCUSDT-1m-2021-04.csv', 'BTCUSDT-1m-2021-04.zip', 'BTCUSDT-1m-2021-05.csv', 'BTCUSDT-1m-2021-05.zip', 'BTCUSDT-1m-2021-06.csv', 'BTCUSDT-1m-2021-06.zip', 'BTCUSDT-1m-2021-07.csv', 'BTCUSDT-1m-2021-07.zip', 'BTCUSDT-1m-2021-08.csv', 'BTCUSDT-1m-2021-08.zip', 'BTCUSDT-1m-2021-09.csv', 'BTCUSDT-1m-2021-09.zip', 'BTCUSDT-1m-2021-10.csv', 'BTCUSDT-1m-2021-10.zip', 'BTCUSDT-1m-2021-11.csv', 'BTCUSDT-1m-2021-11.zip', 'BTCUSDT-1m-2021-12.csv', 'BTCUSDT-1m-2021-12.zip', 'BTCUSDT-1m-2022-01.csv', 'BTCUSDT-1m-2022-01.zip', 'BTCUSDT-1m-2022-02.csv', 'BTCUSDT-1m-2022-02.zip', 'BTCUSDT-1m-2022-03.csv', 'BTCUSDT-1m-2022-03.zip', 'BTCUSDT-1m-2022-04.csv', 'BTCUSDT-1m-2022-04.zip', 'BTCUSDT-1m-2022-05.csv', 'BTCUSDT-1m-2022-05.zip', 'BTCUSDT-1m-2022-06.csv', 'BTCUSDT-1m-2022-06.zip', 'BTCUSDT-1m-2022-07.csv', 'BTCUSDT-1m-2022-07.zip', 'BTCUSDT-1m-2022-08.csv', 'BTCUSDT-1m-2022-08.zip', 'BTCUSDT-1m-2022-09.csv', 'BTCUSDT-1m-2022-09.zip', 'BTCUSDT-1m-2022-10.csv', 'BTCUSDT-1m-2022-10.zip', 'BTCUSDT-1m-2022-11.csv', 'BTCUSDT-1m-2022-11.zip', 'BTCUSDT-1m-2022-12.csv', 'BTCUSDT-1m-2022-12.zip', 'BTCUSDT-1m-2023-01.csv', 'BTCUSDT-1m-2023-01.zip', 'BTCUSDT-1m-2023-02.csv', 'BTCUSDT-1m-2023-02.zip', 'BTCUSDT-1m-2023-03.csv', 'BTCUSDT-1m-2023-03.zip', 'BTCUSDT-1m-2023-04.csv', 'BTCUSDT-1m-2023-04.zip', 'BTCUSDT-1m-2023-05-01.zip', 'BTCUSDT-1m-2023-05-01.zip.CHECKSUM', 'BTCUSDTPERP_2022-05-04_09-10-25.png', 'BUBBLE-HW 2.pdf.pdf', 'C Loop (1).doc', 'C Loop.doc', 'C Tokens, Keywords, Identifiers.doc', 'calculus#1.jpg', 'calculus#2.jpg', 'CANVAS LOGIN.pdf', 'CASE 1st activity.docx', 'CASE 1st activity.pdf', 'CASE-2500-words-essay.docx', 'CASE_FA4_DUCAY.docx', 'CCINFOM-Official-HOADB-up-to-Assets.sql', 'ChromeSetup.exe', 'CIB_APM 1301.pdf', 'CIB_APM 1302.pdf', 'CIB_APM 1303_Updated as of January 10, 2023.pdf', 'Colliers_Manila_Q4_2022_Residential_v1.pdf', 'Colliers_Manila_Radar_BreakingTheBarrier_v1.pdf', 'Condtitional Statements.doc', 'Cong Velasquez YT statistics.ipynb', 'CongTVData.csv', 'Construction-Project-1-Force-Table-Plan.docx', 'Construction-Project-1-Force-Table-Plan.pdf', 'converge.png', 'COR_DUCAY.pdf', 'counting_ducay_abad.docx', 'counting_ducay_abad.final.pdf', 'counting_ducay_abad.pdf', 'Coursera 65KGKMEZH3R9.pdf', 'Coursera 6SF93PE43PBC.pdf', 'Coursera V7C7PWYZ7KW8.pdf', 'Coursera+65KGKMEZH3R9.pdf', 'Coursera+6SF93PE43PBC.pdf', 'Courses with description.pdf', 'covariance of a dataset.ipynb', 'CSS Selector Cheat Sheets.zip', 'D72eXLzbQ_a9nly820P2-Q_b79f3edf00244982a6237c3d332a2980_Course-3-Final-Challenge-Data-Sets---Customer-survey-data-1-.csv', 'Data Entry_test.xlsx', 'Data Gathering 1.docx', 'Data-Gathering-1-Gamboa.pdf', 'Data-Gathering-1.pdf', 'Data-Request-Mary-Alejo-V2.xlsx', 'Data-Request-Mary-Alejo-V3.xlsx', 'Data-Request-Mary-Alejo.xlsx', 'Data.csv', 'data.txt', 'Descriptive Statistics groupby rank.docx', 'desktop.ini', 'Dev Cpp Installation.doc', 'Dev-Cpp_5.11_TDM-GCC_4.9.2_Setup.exe', 'DiscordSetup.exe', 'discrete assignmentt.docx', 'discrete math - feb 6 2023 sec1.pdf', 'discrete math - sequences.pdf', 'donut_deobfuscated.c', 'donut_deobfuscated.exe', 'dr-gorke-physically-distant-not-socially-distant-a-healed-bone-mead (1).docx', 'dr-gorke-physically-distant-not-socially-distant-a-healed-bone-mead (2).docx', 'dr-gorke-physically-distant-not-socially-distant-a-healed-bone-mead.docx', 'ducayharveylemuelogao_26735_3045173_FA8_DUCAY.pdf', 'DucayHO-CD.pdf', 'DucayHO-GMC.pdf', 'DUCAY_CHESS_WAIVER FORM.docx', 'DUCAY_CHESS_WAIVER FORM.pdf', 'DUCAY_CHESS_WAIVER-FORM.docx', 'Ducay_css_cor', 'ducay_dayy2.html', 'ducay_harvey_lemuel_ogao26735_question_1981334_2963006_calculus#1.jpg', 'ducay_harvey_lemuel_ogao26735_question_1981335_2963008_calculus#2.jpg', 'ducay_table.html', 'Dynamics_of_rigid_bodies.png', 'EAappInstaller.exe', 'ecca3c10-ae45-4db4-b590-a395fa426a2a.pdf', 'enrollment tab.png', 'Escape Sequence.doc', 'Ethereum Data.ipynb', 'ETHUSD_1.csv', 'ETH_OHLCVT.zip', 'Exercises 1. Capacitance_APM1303 (1).docx', 'Exercises 1. Capacitance_APM1303.docx', 'F0iSyYcLT9iIksmHCw_Y-Q_191f150a80d74fda96f9df2aa2e3b533_Customer-Table---Sheet1.csv', 'FA-5-FCM (1).docx', 'FA-5-FCM.docx', 'FA-9-FCM.docx', 'FA1.2_Ducay (1).docx', 'FA1.2_Ducay.docx', 'FA11.docx', 'FA12 (1).docx', 'FA12 (2).docx', 'FA12 (3).docx', 'FA12.docx', 'FA2_CASE_DUCAY.docx', 'FA2_DUCAY.ipynb', 'FA4_Ducay_Abad.ipynb', 'FA5 Direct Proof.pdf', 'FA5 Direct Proof_ducay -comments.pdf', 'FA6 Indirect Proof and Quantifiers.docx', 'FA6 Indirect Proof and Quantifiers.pdf', 'FA6 Indirect Proof and Quantifiers_ducay-comments (1).pdf', 'FA6 Indirect Proof and Quantifiers_ducay-comments.pdf', 'FA6 Indirect Proof and Quantifiers_ducay.pdf', 'FA6_DUCAY_ABAD_RconsoleResults.docx', 'FA7 (1).ipynb', 'FA7.ipynb', 'FA7_Ducay#1-1.r', 'FA8 PMI.docx', 'FA8 PMI.pdf', 'FA8 PMI_DUCAY.pdf', 'FA8.Ducay.ipynb', 'FA8_DUCAY (1).pdf', 'FA8_DUCAY.jpg', 'FA8_DUCAY.pdf', 'FA9.docx', 'FA9.pdf', 'FA9_Ducay_Abad (1).ipynb', 'FA9_Ducay_Abad (2).ipynb', 'FA9_Ducay_Abad.ipynb', 'FCC-Report.docx', 'feb 4 2023 sec2 (1).pdf', 'feb 4 2023 sec2.pdf', 'feu_payment.jpg', 'FFTC Preps.pdf', 'FINAL_MAIN-MENU.c', 'forensicsci-02-00016.pdf', 'formspart.html', 'fre.png', 'FRM 18 CREDENTIALS WAIVER FORM REVISED 20210319 (1).docx', 'FRM 18 CREDENTIALS WAIVER FORM REVISED 20210319.docx', 'FRM 20 ENDORSEMENT FORM (1).docx', 'FRM 20 ENDORSEMENT FORM.docx', 'Functions (1).doc', 'Functions.doc', 'genome-scores.csv', 'genome-tags.csv', 'ggg.png', 'GramSchmidtProcess (1).ipynb', 'GramSchmidtProcess.ipynb', 'guitar_dp.png', 'haharvs_A_hospital_Integrating_Therapeutic_Architecture_in_Deve_1f183b6f-158e-4188-b9f3-d16c7cee624a.png', 'HARVEY LEMUEL DUCAY (1).pdf', 'HARVEY LEMUEL DUCAY - Feb 09.pdf', 'HARVEY LEMUEL DUCAY.pdf', 'HarveyDucay_resume (1).pdf', 'HarveyDucay_Resume.pdf', 'HarveyDucay_resume.png', 'HEALTHH.pdf', 'heheh.png', 'hehhehhe.png', 'HenannBooking.pdf', 'hipag.png', 'HLOD-Birth-Certificate.pdf', 'html5up-massively.zip', 'Hyundai_Sustainability_Report_2022.pdf', 'IAS-Fair-2023_-Sinag-Handbook.pdf', 'IdentifyingSpecialMatrices2 (1).ipynb', 'IdentifyingSpecialMatrices2.ipynb', 'IMG_1496.HEIC', 'IMG_1497.HEIC', 'IMG_1498.HEIC', 'IMG_1501.HEIC', 'Install VALORANT.exe', 'Install-Decentraland.exe', 'interval.png', 'iteration runtime at 2^10000.png', 'iterative and recursive sum runtime.png', 'James (1).pdf', 'James.pdf', 'JASP-0.17.1-64bit.msi', 'kahit ano.c', 'kahit ano.exe', 'Keyboard Input.doc', 'kf_aidl_021320.jpg', 'L13_The Chain Rule (1).pptx', 'L13_The Chain Rule.pptx', 'L14_Implicit Differentiation + Solns.pptx', 'L15_Derivative of Exponential and Logarithmic Functions + Solns.pptx', 'L16_Derivative of Inverse Trigonometric Functions + Solns.pptx', 'L20_Origins of the Integral and Indefinite Integrals.pdf', 'L21_Definite Integrals.pdf', 'LA3 - Constant Motion.docx', 'LA3 - Constant Motion.pdf', 'LA6_Abad-Aquino-Linsangan-Loste.docx', 'LA6_Abad-Aquino-Linsangan-Loste.pdf', 'LA6_ducay_.pdf', 'LA6_Projectile Motion (Virtual).docx', 'LA6_Projectile Motion (Virtual).pdf', 'Lab_1.docx', 'Lab_Activity-5.docx', 'Lab_Activity_5.docx', 'Lab_Activity_5.xlsx', 'LAGUA_FA3-4_APM1101.pdf', 'LECTURE_WEEK2.pptx', 'Leetcode_Progress.xlsx', 'Lesson 01_Errors, Accuracy, and Precision.pptx', 'Lesson 01_Introduction (1).pptx', 'Lesson 01_Introduction.pptx', 'Lesson 02_Vectors (Part 1).pptx', 'Lesson 02_Vectors (Part 2).pptx', 'Lesson 03_Motion-1 (1).pptx', 'Lesson 03_Motion-1.pptx', 'Lesson 05 - Data Analysis.pdf', 'Lesson 1_Electric Forces and Electric Fields (Part 2).pptx', 'Lesson 3_Electric Circuits (Part 1).pptx', 'Lesson 3_Electric Circuits (Part 2).pptx', "Lesson 4_Forces (Newton's Laws of Motion).pptx", 'Lesson 5_Equilibrium.pptx', 'Lesson1_Integration.pdf', 'Lesson2_Integration by Substitution (updated) (1).pdf', 'Lesson2_Integration by Substitution (updated) (2).pdf', 'Lesson2_Integration by Substitution (updated).pdf', 'Lesson3_Inverse Trigonometric Functions (1).pdf', 'Lesson3_Inverse Trigonometric Functions.pdf', 'Lesson4_Applications of Integration.pdf', 'Lesson5_Area Between Two Curves.pdf', 'Lesson6_Volume (The Disk Method).pdf', 'Lesson7_Volume (The Washer Method).pdf', 'Lesson8_Hyperbolic Functions.pdf', 'Linear Algebra (1).ipynb', 'Linear Algebra (2).ipynb', 'Linear Algebra (3).ipynb', 'Linear Algebra (4).ipynb', 'Linear Algebra (5).ipynb', 'Linear Algebra (6).ipynb', 'Linear Algebra.ipynb', 'links.csv', 'LKS-IAS-FINAL-GAME-SCHEDULE.pdf', 'Logical Operators.doc', 'LOGIN', 'LOGIN.zip', 'Main-Menu-Interface.c', 'Main-Menu-Interface.exe', 'Manuscript.pdf', 'market-price.csv', 'Math-27-PS7-X5-1.docx', 'Math-27-PS7-X5-1.pdf', 'MathStat.pdf', 'mavis_hub-1.2.3-windows-20200924', 'mavis_hub-1.2.3-windows-20200924 (1)', 'mavis_hub-1.2.3-windows-20200924 (1).zip', 'mavis_hub-1.2.3-windows-20200924.zip', 'Messenger.169.0.0.17.103.exe', 'MicrosoftTeams-image.png', 'Midterm Summative Assessment (1).docx', 'Midterm Summative Assessment.docx', 'movies.csv', 'mp2_ABAD (1).c', 'mp2_ABAD (1).exe', 'mp2_ABAD.c', 'mp2_ABAD.exe', 'mp2_DUCAY-1.c', 'mp2_Hammis (1).c', 'mp2_Hammis (1).exe', 'mp2_Hammis (2).c', 'mp2_Hammis (2).exe', 'mp2_Hammis (3).c', 'MP2_HAMMIS-1.c', 'MP2_HAMMIS-1.exe', 'mp2_Hammis.c', 'mp2_Hammis.exe', 'mp3_ABAD (1).c', 'mp3_ABAD (1).exe', 'mp3_ABAD.c', 'mp3_ABAD.exe', 'mp3_Ducay-3.c', 'mp3_Ducay-3.exe', 'mp3_Masicat.c', 'mp3_Masicat.exe', 'mp4_ducay-1.c', 'MP4_Masicat.c', 'MP4_Masicat.exe', 'msys2-x86_64-20220603.exe', 'music.csv.zip', 'my-pnl (1).jpg', 'my-pnl.jpg', 'mysql-installer-web-community-8.0.31.0.msi', 'myUSTe_transcript2018109633.pdf', 'National ID.jpg', 'Nested Loop (1).doc', 'Nested Loop.doc', 'No Courses Found.png', 'node-v18.12.1-x64.msi', 'OfficeSetup.exe', 'output.csv', 'Page-1-of-1-1-Copy.pdf', 'PageRank 3 (1).ipynb', 'PageRank 3 (2).ipynb', 'PageRank 3 (3) (1).ipynb', 'PageRank 3 (3).ipynb', 'PageRank 3.ipynb', 'PageRank.ipynb', 'pasaporte 2.jpg', 'pasaporte.jpg', 'pgHcQsMpSimB3ELDKRop2w_14ece9a7ea494ad38be47428779bb28b_HistoricalSales---HistoricalSales.csv', 'physics_assignment.pdf', 'Physics_course_description.png', 'pirma.png', 'PIXEL PIONEERS.zip', 'PLE2_Ducay_Lagmay_Lagua_Lima_Rascano.pdf', 'PokerStarsInstall (1).exe', 'PokerStarsInstall.exe', 'Presentation2.zip', 'probability_cheatsheet.pdf', 'Profile.pdf', 'Progress-Report.docx', 'proj3.pdf', 'PROJ_V08 (1).c', 'PROJ_V08.c', 'PROJ_V08.exe', 'Prove by induction that summation from i.docx', 'prove that Let A.docx', 'Proving Exercises with some answers.pdf', 'Proving Exercises.pdf', 'ps1 key.pdf', 'ps1.docx', 'ps1.pdf', 'ps1_ducay.docx', 'ps1_ducay.pdf', 'python-3.10.6-amd64.exe', 'Python-for-Data-Analysis (1).pptx', 'Python-for-Data-Analysis.pptx', 'python-regular-expressions-cheat-sheet.pdf', 'q#2.png', 'Q8.jpg', 'R-4.2.2-win.exe', 'ramirr.docx', 'Random-Generator.c', 'Random-Generator.exe', 'ratings.csv', 'Reading the most dangerous game essay.docx', 'README.txt', 'recursive failure at 10000 recursions.png', 'ReflectingBear.ipynb', 'rKaCEfKxTYamghHysf2Ggw_971349c52aaf4ce8b137b9759149f196_CustomerSurveyData---Customer-survey-data.csv', 'RStudio-2022.12.0-353.exe', 'RStudio-2023.03.0-386.exe', 'Running your First Program.doc', 'SA 1 #1.ipynb', 'SA1 #2.ipynb', 'SA1 #3.ipynb', 'SA1#3(for_three_searches).Ducay.Abad.pdf', 'SA1#3(for_three_searches).Ducay.Abad.R', 'SA1#3.Ducay.Abad.pdf', 'SA1#3.pdf', 'SA2_Ducay_Abad #1 (1).ipynb', 'SA2_Ducay_Abad #1.ipynb', 'SA2_Ducay_Abad #2.ipynb', 'SA2_Ducay_Abad.ipynb', 'SA2_DUCAY_ABAD_2 (1).ipynb', 'SA2_DUCAY_ABAD_2 (2).ipynb', 'SA2_DUCAY_ABAD_2 (3).ipynb', 'SA2_DUCAY_ABAD_2 (4) (1).ipynb', 'SA2_DUCAY_ABAD_2 (4).ipynb', 'SA2_DUCAY_ABAD_2.ipynb', 'SA2_FCM_DUCAY.docx', 'SA2_FCM_DUCAY_1.docx', 'SA2_FCM_DUCAY_2.docx', 'SA2_FCM_DUCAY_3.docx', 'SA2_FCM_DUCAY_4.docx', 'SA2_FCM_DUCAY_5.docx', 'SA2_FCM_DUCAY_6.docx', 'SA3_1_DUCAY.pdf', 'SA3_2_DUCAY.pdf', 'SA3_5_DUCAY.pdf', 'SA3_6_DUCAY.pdf', 'SA3_7_DUCAY.pdf', 'Samue.rar', 'SANDATA.pdf', 'SBIZHUB 36722070512520.pdf', 'Scanned-Documents (1).pdf', 'Scanned-Documents (2).pdf', 'Scanned-Documents.pdf', 'sched.png', 'Science project.pptx', 'SEC1_APM1110-GROUP8_DUCAY-HARVEY-LEMUEL-O_LAGUA-SEAN-ANGELO-T.pdf', 'SEC1_APM1110-GROUP8_DUCAY-HARVEY-LEMUEL-O_LAGUA-SEAN-ANGELO-T.r', 'SEC_APM1110_DUCAY_HARVEYLEMUELO.FA5 (1).r', 'SEC_APM1110_DUCAY_HARVEYLEMUELO.FA5.r', 'SerialNumberDetectionTool.exe', 'Sets.pdf', 'share-poster-1651291447624.jpg', 'share-poster-1651726999559.jpg', 'share-poster-1655540335074.jpg', 'share-poster-1656580172969.jpg', 'share-poster-1656672348731.jpg', 'share-poster-1656672350881.jpg', 'solutionStarter.py', 'Sorting-Algorithm.pptx', 'Specifications-and-Task.pdf', 'SpotifySetup.exe', 'Spotify_Youtube.csv', 'SQL_Cheat_Sheet.pdf', 'SQL_guide_coursera.pdf', 'STATEMENT AND UNDERTAKING (1).docx', 'STATEMENT AND UNDERTAKING.docx', 'SteamSetup.exe', 'STEPS 1 and 2 Process.jpg', 'summary (1).pdf', 'summary.pdf', 'surveying.jpg', 'Switch Case Statements.doc', 'Symbols_and_Irony_in_Literature.pptx', 'tags.csv', 'TALE_TABLE (1).html', 'tamsser.png', 'Team Payaman YT Analysis(Viy extra details).ipynb', 'TH.pdf', 'Think Python Glossary by Chapter.pdf', 'Thinking as a hobby (1).docx', 'this c.png', 'this.png', 'Topics-On-Discrete-Mathematics.pdf', 'trade1.png', 'trade2.png', 'TradingView_Scraping.ipynb', 'Transferee Evaluation Guidelines SY 2022-2023 First Sem.pdf', 'TravelJH.pdf', 'tree diagram.png', 'tree.pptx', 'UNIVERSITY-OF-SANTO-TOMAS.pdf', 'Untitled-design-1 (1).zip', 'Untitled-design-1.zip', 'Untitled7.ipynb', 'UST payment (1).jpg', 'UST payment.jpg', 'USTPAYMENT.jpg', 'valid id.jpg', 'Variables, Datatypes, Constant.doc', 'VER2_Random-Generator (1).c', 'VER2_Random-Generator (1).exe', 'VER2_Random-Generator.c', 'VER2_Random-Generator.exe', 'View-Bill-Detail.pdf', 'Voxie Tactics v0.16.5', 'Voxie Tactics v0.16.5.zip', 'Wesley Java.zip', 'wetransfer_c-more-data-entry-test_2023-04-26_1453.zip', 'WHY-ARRAYS.c', 'WHY-ARRAYS.exe', 'win-ip110-1_1-mcd.exe', 'Word Problems Involving Derivatives.pdf', 'word_guessing_game.pynb.ipynb', 'world_cities.csv', 'X01aPropLogic.ppt', 'XWDVQrA7Tceg1UKwO93H_g_929b420254cb4ecbbb654c871375d673_CustomerSurvey---CustomerSurvey.csv', '_LXSUq69QW-10lKuvXFv5Q_481077a5912c487eb76e0e2c74bccce9_CustomerSurvey---CustomerSurvey.csv', '~$1_ducay.docx', '~WRL1931.tmp', 'ℝ.docx']

### Identifying key information about the dataframes from binance as well as data from Kaggle.

In [4]:
import numpy as np 
import pandas as pd

#df_merged = pd.merge(df_5, df_6, how="outer")

df = pd.read_csv("C:/Users/Harvey/Downloads/bitstampUSD_1-min_data_2012-01-01_to_2021-03-31.csv")
df_1 = pd.read_csv("C:/Users/Harvey/Downloads/BTCUSDT-1m-2021-04.csv")
df_2 = pd.read_csv("C:/Users/Harvey/Downloads/BTCUSDT-1m-2021-05.csv")
df_3 = pd.read_csv("C:/Users/Harvey/Downloads/BTCUSDT-1m-2021-06.csv")
display(df_1.head(3))
display(df_2.head(3))
display(df_3.head(3))

,1617235200000,58739.46000000,58796.25000000,58720.82000000,58795.74000000,56.54149400,1617235259999,3321828.74400326,2241,26.24334700,1541871.94285682,0
0,1617235260000,58795.74,58858.21,58787.48,58815.42,45.844834,1617235319999,2.697096e+06,1449,30.030153,1.766725e+06,0
1,1617235320000,58815.42,58963.91,58808.99,58963.41,80.257514,1617235379999,4.727107e+06,2033,47.965095,2.824978e+06,0
2,1617235380000,58953.83,59080.26,58952.34,59063.13,107.880493,1617235439999,6.367395e+06,2894,66.198720,3.906898e+06,0

,1619827200000,57697.25000000,57697.26000000,57533.75000000,57545.06000000,106.99194300,1619827259999,6165380.96980849,4248,40.81299200,2351783.49801049,0
0,1619827260000,57545.06,57549.99,57421.05,57542.62,139.034744,1619827319999,7.993893e+06,4106,62.627884,3.600659e+06,0
1,1619827320000,57542.64,57719.82,57542.62,57703.10,84.742481,1619827379999,4.884633e+06,2488,39.257872,2.262959e+06,0
2,1619827380000,57702.87,57745.94,57696.75,57710.26,47.611925,1619827439999,2.748087e+06,2188,20.777537,1.199276e+06,0

,1622505600000,37253.82000000,37260.00000000,37100.00000000,37124.60000000,110.29594500,1622505659999,4101355.91838581,3386,32.16070000,1195493.64151287,0
0,1622505660000,37124.60,37255.11,37118.43,37191.60,117.023106,1622505719999,4.351509e+06,2078,67.629433,2.514460e+06,0
1,1622505720000,37191.60,37456.17,37191.59,37451.49,109.844162,1622505779999,4.102845e+06,3295,61.368667,2.292257e+06,0
2,1622505780000,37451.48,37600.00,37424.07,37597.04,434.892012,1622505839999,1.632610e+07,8683,305.000379,1.144877e+07,0

### Identifying if csvs are accessed properly and stored in df_1, df_2 up to df_24

In [5]:
import pandas as pd

start_date = "2021-04-01"
end_date = "2023-04-01"
date_range = pd.date_range(start=start_date, end=end_date, freq="MS")
data_frames = {}

for i, date in enumerate(date_range):
    filename = f"C:/Users/Harvey/Downloads/BTCUSDT-1m-{date.strftime('%Y-%m')}.csv"
    data_frames[f"df_{i+1}"] = pd.read_csv(filename)
    print(filename)

# assign the data frames to variable names using locals()
for i, key in enumerate(data_frames):
    locals()[f"df_{i+1}"] = data_frames[key]
    print(i)

C:/Users/Harvey/Downloads/BTCUSDT-1m-2021-04.csv
C:/Users/Harvey/Downloads/BTCUSDT-1m-2021-05.csv
C:/Users/Harvey/Downloads/BTCUSDT-1m-2021-06.csv
C:/Users/Harvey/Downloads/BTCUSDT-1m-2021-07.csv
C:/Users/Harvey/Downloads/BTCUSDT-1m-2021-08.csv
C:/Users/Harvey/Downloads/BTCUSDT-1m-2021-09.csv
C:/Users/Harvey/Downloads/BTCUSDT-1m-2021-10.csv
C:/Users/Harvey/Downloads/BTCUSDT-1m-2021-11.csv
C:/Users/Harvey/Downloads/BTCUSDT-1m-2021-12.csv
C:/Users/Harvey/Downloads/BTCUSDT-1m-2022-01.csv
C:/Users/Harvey/Downloads/BTCUSDT-1m-2022-02.csv
C:/Users/Harvey/Downloads/BTCUSDT-1m-2022-03.csv
C:/Users/Harvey/Downloads/BTCUSDT-1m-2022-04.csv
C:/Users/Harvey/Downloads/BTCUSDT-1m-2022-05.csv
C:/Users/Harvey/Downloads/BTCUSDT-1m-2022-06.csv
C:/Users/Harvey/Downloads/BTCUSDT-1m-2022-07.csv
C:/Users/Harvey/Downloads/BTCUSDT-1m-2022-08.csv
C:/Users/Harvey/Downloads/BTCUSDT-1m-2022-09.csv
C:/Users/Harvey/Downloads/BTCUSDT-1m-2022-10.csv
C:/Users/Harvey/Downloads/BTCUSDT-1m-2022-11.csv
C:/Users/Harvey/Downloads/BTCUSDT-1m-2022-12.csv
C:/Users/Harvey/Downloads/BTCUSDT-1m-2023-01.csv
C:/Users/Harvey/Downloads/BTCUSDT-1m-2023-02.csv
C:/Users/Harvey/Downloads/BTCUSDT-1m-2023-03.csv
C:/Users/Harvey/Downloads/BTCUSDT-1m-2023-04.csv
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24

### Changing column names of df_1 to df_24 into proper column names

In [6]:
for i in range(1, 25):
    df_name = f"df_{i}"
    df = globals()[df_name]
    df.columns = ['timestamp(open)', 'open', 'high', 'low', 'close', 'volume', 'timestamp(close)', 'Quote asset volume', 'Number of trades', 'Taker buy base asset volume', 'Taker buy quote asset volume', 'Ignore']

### Merging df_1 to df_24

In [7]:
dfs = [globals()[f"df_{i}"] for i in range(1, 25)]
merged_df = pd.concat(dfs, ignore_index=True)

### Checking if merged is done properly by checking dataframe head and tail

In [8]:
display(df_1.head(3))
display(merged_df.head(3))
display(df_24.tail(3))
display(merged_df.tail(3))

,timestamp(open),open,high,low,close,volume,timestamp(close),Quote asset volume,Number of trades,Taker buy base asset volume,Taker buy quote asset volume,Ignore
0,1617235260000,58795.74,58858.21,58787.48,58815.42,45.844834,1617235319999,2.697096e+06,1449,30.030153,1.766725e+06,0
1,1617235320000,58815.42,58963.91,58808.99,58963.41,80.257514,1617235379999,4.727107e+06,2033,47.965095,2.824978e+06,0
2,1617235380000,58953.83,59080.26,58952.34,59063.13,107.880493,1617235439999,6.367395e+06,2894,66.198720,3.906898e+06,0

,timestamp(open),open,high,low,close,volume,timestamp(close),Quote asset volume,Number of trades,Taker buy base asset volume,Taker buy quote asset volume,Ignore
0,1617235260000,58795.74,58858.21,58787.48,58815.42,45.844834,1617235319999,2.697096e+06,1449,30.030153,1.766725e+06,0
1,1617235320000,58815.42,58963.91,58808.99,58963.41,80.257514,1617235379999,4.727107e+06,2033,47.965095,2.824978e+06,0
2,1617235380000,58953.83,59080.26,58952.34,59063.13,107.880493,1617235439999,6.367395e+06,2894,66.198720,3.906898e+06,0

,timestamp(open),open,high,low,close,volume,timestamp(close),Quote asset volume,Number of trades,Taker buy base asset volume,Taker buy quote asset volume,Ignore
44556,1680307020000,28478.40,28478.40,28471.01,28471.02,6.63689,1680307079999,188964.448772,328,2.14130,60965.425824,0
44557,1680307080000,28471.02,28471.63,28471.01,28471.63,4.66062,1680307139999,132693.686047,180,3.52792,100444.023148,0
44558,1680307140000,28471.62,28473.13,28465.36,28465.36,7.09914,1680307199999,202122.294726,424,2.94788,83930.910768,0

,timestamp(open),open,high,low,close,volume,timestamp(close),Quote asset volume,Number of trades,Taker buy base asset volume,Taker buy quote asset volume,Ignore
1050269,1680307020000,28478.40,28478.40,28471.01,28471.02,6.63689,1680307079999,188964.448772,328,2.14130,60965.425824,0
1050270,1680307080000,28471.02,28471.63,28471.01,28471.63,4.66062,1680307139999,132693.686047,180,3.52792,100444.023148,0
1050271,1680307140000,28471.62,28473.13,28465.36,28465.36,7.09914,1680307199999,202122.294726,424,2.94788,83930.910768,0

### Identifying common columns between the two dataframes, merged dataframe between df_1 to df_24 and the df from Kaggle

In [9]:
df = pd.read_csv("C:/Users/Harvey/Downloads/bitstampUSD_1-min_data_2012-01-01_to_2021-03-31.csv")
display(df.columns)
display(merged_df.columns)

Index(['Timestamp', 'Open', 'High', 'Low', 'Close', 'Volume_(BTC)',
       'Volume_(Currency)', 'Weighted_Price'],
      dtype='object')

Index(['timestamp(open)', 'open', 'high', 'low', 'close', 'volume',
       'timestamp(close)', 'Quote asset volume', 'Number of trades',
       'Taker buy base asset volume', 'Taker buy quote asset volume',
       'Ignore'],
      dtype='object')

### Renaming merged_df column names so it is similar to df column names

In [10]:
merged_df = merged_df.rename(columns={
    'timestamp(open)': 'Timestamp', 
    'volume': 'Volume_(BTC)',
    'open': 'Open',
    'high': 'High',
    'low': 'Low',
    'close': 'Close',
})

### Outer merging and dropping excess columns

In [11]:
# Select common columns
common_cols = ['Timestamp', 'Open', 'High', 'Low', 'Close', 'Volume_(BTC)']

# Merge dataframes on common columns
merged = pd.merge(df, merged_df, how="outer")

merged['timestamp'] = pd.to_datetime(merged['Timestamp'])

merged.drop_duplicates(subset=['Timestamp'], inplace=True)

merged = merged.drop(['timestamp(close)', 'Quote asset volume','Number of trades','Taker buy base asset volume','Taker buy quote asset volume','Ignore', 'timestamp'], axis=1)

# Rename the columns
merged.rename(columns={'Volume_(BTC)': 'volume'}, inplace=True)

### Confirming if needed columns are retained

In [12]:
display(df.columns)
display(merged.columns)

Index(['Timestamp', 'Open', 'High', 'Low', 'Close', 'Volume_(BTC)',
       'Volume_(Currency)', 'Weighted_Price'],
      dtype='object')

Index(['Timestamp', 'Open', 'High', 'Low', 'Close', 'volume',
       'Volume_(Currency)', 'Weighted_Price'],
      dtype='object')

### Checking if merge is done properly by checking head and tail of dataframes

In [13]:
display(merged.head(2))
display(df.head(2))
display(merged.tail(2))
display(df_24.tail(2))

,Timestamp,Open,High,Low,Close,volume,Volume_(Currency),Weighted_Price
0,1325317920,4.39,4.39,4.39,4.39,0.455581,2.0,4.39
1,1325317980,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,1325317920,4.39,4.39,4.39,4.39,0.455581,2.0,4.39
1,1325317980,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,Timestamp,Open,High,Low,Close,volume,Volume_(Currency),Weighted_Price
5907647,1680307080000,28471.02,28471.63,28471.01,28471.63,4.66062,NaN,NaN
5907648,1680307140000,28471.62,28473.13,28465.36,28465.36,7.09914,NaN,NaN

,timestamp(open),open,high,low,close,volume,timestamp(close),Quote asset volume,Number of trades,Taker buy base asset volume,Taker buy quote asset volume,Ignore
44557,1680307080000,28471.02,28471.63,28471.01,28471.63,4.66062,1680307139999,132693.686047,180,3.52792,100444.023148,0
44558,1680307140000,28471.62,28473.13,28465.36,28465.36,7.09914,1680307199999,202122.294726,424,2.94788,83930.910768,0

In [16]:
minutes_in_a_year = 525600
display(merged.shape)

years_of_data = merged.shape[0]/minutes_in_a_year
print(f"The data aqcuired is a total of {years_of_data} years of data")

(5907649, 8)

The data aqcuired is a total of 11.239819254185692 years of data